<header class="header">
  <div class="bg-white">
    <div class="container menu-line">
      <div class="row py-4">
        <div class="col-md-6 col-lg-8">
          <a routerLink="" class="logo-main d-block d-md-inline-block">
            <img class="mx-auto" src="./assets/images/logo.png">
          </a>
        </div>
        <div class="col-md-6 col-lg-4 pt-2">
          <a routerLink="suivi" class="logo-main d-block text-uppercase btn bg-main text-white bold">Suivre un transfert</a>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<section class="py-5">
  <div class="container">
    <h2 class="text-center text-main pb-3">Nos services</h2>
    <p class="text-center pb-4 w-75 mx-auto para-coord">Nos agents sont à votre disposition pour vous aider à effectuer vos transferts d’argent en toute rapidité mais aussi à faire du change de devises, à payer en cash vos achats faits sur internet...</p>
    <div class="d-flex justify-content-between" style="flex-wrap: wrap;">
      <div class="text-center bg-white shadow-sm pr-3 pb-3 pl-3 position-relative bloc-solo-v">
        <img src="./assets/images/v1.png" class="position-relative" style="top: -60px; width: 180px;">
        <h5 class="pb-2">Transfert d'argent au Maroc</h5>
        <p>Envoyez ou recevez votre argent partout au Maroc grâce à un large réseau fiable de plus de 1300 agences de transfert d’argent.</p>
      </div>
      <div class="text-center bg-white shadow-sm pr-3 pb-3 pl-3 position-relative bloc-solo-v">
        <img src="./assets/images/v2.png" class="position-relative" style="top: -60px; width: 180px;">
        <h5 class="pb-2">Transfert d'argent international</h5>
        <p>Recevez votre argent envoyé depuis l’étranger dans une agence de transfert d’argent Cash Plus, qu’il s’agisse d’un transfert d’argent Western union, Moneygram, Moneytrans, Wari ou Ria.</p>
      </div>
      <div class="text-center bg-white shadow-sm pr-3 pb-3 pl-3 position-relative bloc-solo-v">
        <img src="./assets/images/v3.png" class="position-relative" style="top: -60px; width: 180px;">
        <h5 class="pb-2">Change de devises</h5>
        <p>Chez Cash Plus, bénéficiez de taux très compétitifs et d’ horaires flexibles pour effectuer vos opérations de change de devises.</p>
      </div>
      <div class="text-center bg-white shadow-sm pr-3 pb-3 pl-3 position-relative bloc-solo-v">
        <img src="./assets/images/v4.png" class="position-relative" style="top: -60px; width: 180px;">
        <h5 class="pb-2">Paiement des Taxes et des impôts</h5>
        <p>Le paiement de l’IS, l’IR, et la TVA ainsi que les autres taxes telles que la taxe d’habitation, de services communaux se fait dans toutes les agences de transfert d’argent Cash Plus...</p>
      </div>
      <div class="text-center bg-white shadow-sm pr-3 pb-3 pl-3 position-relative bloc-solo-v">
        <img src="./assets/images/v5.png" class="position-relative" style="top: -60px; width: 180px;">
        <h5 class="pb-2">Envoi d'argent en ligne</h5>
        <p>Effectuez des opérations d’envoi d’argent en ligne en toute sécurité et rapidité.</p>
      </div>
      <div class="text-center bg-white shadow-sm pr-3 pb-3 pl-3 position-relative bloc-solo-v">
        <img src="./assets/images/v6.png" class="position-relative" style="top: -60px; width: 180px;">
        <h5 class="pb-2">Points relais</h5>
        <p>Récupérez vos achats faits en ligne dans le réseau d'agences Cash Plus grâce à notre partenaire logistique SpeedBox.</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-5">
  <div class="container">
    <div class="d-flex justify-content-between f-wrap-wrap" style="flex-wrap: wrap;">
      <div class="bg-white p-4 solo-last">
        <img src="./assets/images/l1.png">
        <p>
          Cash Plus a été élue par le grand public la marque la plus digitalisée en 2016 lors de la 3ème édition de l'African Digital Summit. Merci à tout ceux qui ont voté pour nous.<br/>

          Pour vous remercier, Cash Plus vous vous offre une remise de 10% sur toutes les réservations sur www.vayago.com en utilisant le code promo CashPlus
        </p>
      </div>
      <div class="bg-white p-4 solo-last">
        <img src="./assets/images/l2.png">
        <p>
          Pour vous faciliter la vie, Cash Plus lance la vente des billets de la CTM dans plus de 1300 agences près de chez vous.
        </p>
      </div>
      <div class="bg-white p-4 solo-last">
        <img src="./assets/images/l3.png">
        <p>
          Toujours pour vous faciliter la vie , vous pouvez payer vos factures d’eau, d’ élecricité ainsi que toutes vos taxes chez Cash Plus .
        </p>
      </div>
      <div class="bg-white p-4 solo-last">
        <img src="./assets/images/l4.png">
        <p>
          Nouveauté :vous pouvez désormais envoyer en ligne jusqu'à 3000DHS par envoi sur notre site web
        </p>
      </div>
    </div>
  </div>
</section>
<footer class="bg-sec">
  <div class="container bg-sec">
    <div class="text-center py-4">©Cash Plus. Tous les droits sont réservés.</div>
  </div>
</footer>