@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Signika:400,700&display=swap');
body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.bg-grey{
	background-color: #efefef;
}
.logo-main img{
	height: 50px;
	display: block;
}
.img-side{
	display: block;
	max-width: 100%;
}
.text-main{
	color: #00959b!important;
}
.text-sec{
	color: #ffd425;
}
.text-black{
	color: #000!important;
}
.bg-main{
	background-color: #00959b!important;
}
.bg-sec{
	background-color: #ffd425;
}
.bg-black{
	background-color: #000!important;
}
.banner{
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(./assets/images/banner.png);
	background-position: center;
}
.header-top-line{
	height: 4px;
}
.img-wrapper-in{
	width: 80px;
}
.img-wrapper-in img{
	width: 100%;
	display: block;
}
.detail-wrapper-in{
	width: calc(100% - 100px);
}
.detail-wrapper-in h4{
	font-weight: bold;
	font-size: 1.2em;
}
.text-mini-in{
	font-size: 14px;
}
.text-assoc-right{
	width: calc(100% - 320px);
	vertical-align: top;
}
.mini-text{
	font-size: 12px;
}
.hide-show{
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	z-index: 200;
	line-height: 50px;
	overflow: hidden;
}
.devise-block{
	height: 100%;
}
.inner-text{
	font-family: 'Signika', sans-serif!important;
}
.first-line{
	font-size: 2.8em;
	line-height: 38px;
	font-family: 'Signika', sans-serif!important;
}
.sec-line{
	font-size: 6em;
	line-height: 1em;
	font-family: 'Signika', sans-serif!important;
}
.third-line{
	font-size: 2.5em;
	font-family: 'Signika', sans-serif!important;
}
.last-line{
	font-size: 2.5em;
	font-family: 'Signika', sans-serif!important;
}
.fa-eye-slash, .fa-eye{
	color: #a2a5a2;
}
.input-shape{
	display: block;
	width: 100%;
	margin-bottom: 3px;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	outline: none;
	border: 1px solid #dedfde;
	line-height: 28px;
	background-color: #f8f8f8;
	border-radius: 3px;
	overflow: hidden;
}
.input-shape:focus{
	box-shadow: 0 0 5px #dedfde;
}
.hidden-replacer{
	display: block;
	padding: 10px;
	font-size: 15px;
	outline: none;
	border: 1px solid #dedfde;
	font-weight: bold;
	line-height: 28px;
}
.input-valid, .input-and-devise-wrapper{
	border: 1px solid #dedfde;
}
.input-valid:focus{
	border: 1px solid #333;
}
.input-invalid{
	border: 1px solid #f00;
	background-color: rgba(200, 0, 0, .1);
}
.error-assoc{
	color: #f00;
	font-weight: bold;
	font-size: 15px;
}


.loading-cover{
	background-color: rgba(255, 255, 255, .8);
	position: fixed;
	z-index: 3000;
	top: 0; right: 0; bottom: 0; left: 0;
	padding-top: 20%;
}
.loading-success{
	text-align:center;
	padding: 50px 0;
}
.para-coord{
	color: #757575;
	font-size: 15px;
	line-height: 27px;
}
.loading-cover:before{
	content: "";
	border: 4px solid #f28d2d;
	border-top: 4px solid transparent;
	margin: 0 auto;
	height: 50px;
	width: 50px;
	display: block;
	border-radius: 50%;
	animation: spin .3s linear infinite;
}
.loading-success:before{
	content: "";
	border: 4px solid #f28d2d;
	border-top: 4px solid transparent;
	margin: 0 auto;
	height: 100px;
	width: 100px;
	display: block;
	border-radius: 50%;
	animation: spin .3s linear infinite;
}

.bloc-solo-v{
	width: 32%;
	margin-top: 80px;
}
.solo-last{
	width: 23%;
	font-size: 12px;
	color: #656565;
	line-height: 23px;
}
.solo-last img{
	margin: 20px auto;
	max-width: 80%;
	display: block;
}
.bloc-solo-v h5{
	color: #00959b;
	font-size: 1.1em;
}
.bloc-solo-v p{
	font-size: 11px;
	line-height: 22px;
	color: #656565;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width: 976px){
	.bloc-solo-v{
		width: 48%;
		margin-top: 80px;
	}
}
@media screen and (max-width: 728px){
	.solo-last{
		width: 48%;
		margin-bottom: 40px;
	}
	.bloc-solo-v{
		width: 100%;
		margin-top: 80px;
	}
	.text-assoc-right{
		width: 100%;
		padding: 20px;
		text-align: center;
	}
	.fading-line{
		font-size: 20px;
	}
	.bloc-dsp-tk{
		width: 100%;
	}
}