<div class="banner">
  <div class="container">
    <div class="row py-5">
      <div class="inner-text col-md-6 py-5">
        <div class="text-sec first-line">Plus de</div>
        <div class="text-sec sec-line font-weight-bold">1300</div>
        <div class="text-white third-line">AGENCES À VOTRE SERVICE</div>
        <div class="text-sec last-line">PARTOUT AU MAROC</div>
        <div class="text-sec lk-line max-w-50 pt-3">
          <a routerLink="suivi" class="logo-main d-block text-uppercase btn bg-sec text-main font-weight-bold">Suivre un transfert</a>
        </div>
      </div>
    </div>
  </div>
</div>